.AddButton {
  width: 100%;
  /*height: 100%;*/
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22264b;
  background: rgba(197, 213, 203, .85);
  border: none;
  border-radius: 2px;
  transition: .2s ease-in-out;
}

.AddButton:hover {
  color: #fff;
  cursor: pointer;
}

.AddButton:before {
  line-height: 24px;
}

.AddButton.-Card {
  padding: 0;
  background-color: transparent;
}